@import "../../variables";

.blog {
  padding-top: 31px;
  padding-bottom: 45px;

  @media screen and (max-width: 1024px) {
    padding-bottom: 38px;
  }

  @media screen and (max-width: 768px) {
    padding-top: 10px;
    padding-bottom: 24px;
  }

  &__subtitle {
    margin-top: 27px;
    margin-bottom: 83px;

    p {
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      text-align: center;
      letter-spacing: -0.02em;
    }

    @media screen and (max-width: 1024px) {
      margin-top: 25px;
      margin-bottom: 36px;

      p {
        font-size: 18px;
        line-height: 20px;
      }
    }
    @media screen and (max-width: 768px) {
      margin-top: 10px;
      margin-bottom: 22px;

      p {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  .blog-item__wrapper {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 31px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 26px;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    .blog-card {
      justify-self: center;
      display: none;
    }
  }

  .btn-show-more-blog-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    border: none;
    width: 231px;
    height: 62px;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.12);
    border-radius: 12px;

    font-weight: 500;
    font-size: 22px;
    line-height: 27px;

    text-align: center;
    letter-spacing: -0.02em;
    transition: all 0.3s;
    color: #015fbf;

    &:hover {
      background: linear-gradient(180deg, #17a6d6 0%, #4b33a1 100%);
      color: $white;
    }
  }
}
