@import "../../variables";

.website-development {
  margin-top: -4px;

  @media screen and (max-width: 1024px) {
    background-image: none;
  }

  .service-prising {
    background-image: url("./../assets/treangle-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    padding-top: 20px;
    padding-bottom: 50px;

    @media screen and (max-width: 1024px) {
      background-image: none;
      padding-top: 15px;
      padding-bottom: 30px;
    }

    @media screen and (max-width: 768px) {
      padding-top: 10px;
    }
  }

  .peramidon-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 56px;

    @media screen and (max-width: 1024px) {
      padding-top: 40px;
    }

    @media screen and (max-width: 768px) {
      padding-top: 23px;
    }

    .w-100 {
      width: 100%;

      @media screen and (max-width: 1024px) {
        width: auto;
      }
    }

    .peramidon__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      padding: 45px 15px 15px;
      width: 20vw;
      height: 30vw;
      max-height: 372px;
      max-width: 362px;
      background: #ffffff;
      box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.12);
      margin: 0 20px 45px 20px;

      .icone {
        margin-bottom: 40px;

        svg {
          width: 90%;
          height: auto;
        }

        @media screen and (max-width: 768px) {
          margin-bottom: 13px;

          svg {
            max-width: 110px;
            max-height: 80px;
          }
        }
      }

      .text {
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.02em;

        @media screen and (max-width: 1440px) {
          font-size: 1em;
          line-height: 17px;
        }

        @media screen and (max-width: 768px) {
          font-size: 13px;
          line-height: 17px;
          max-height: 83px;
          width: 145px;
        }
      }

      @media screen and (max-width: 1024px) {
        margin: 0 15px 15px 15px;
        padding: 40px 10px 10px;
        width: 335px;
        min-height: 372px;
      }

      @media screen and (max-width: 768px) {
        margin: 5px;
        padding: 20px 10px 10px;
        width: 46%;
        min-height: 232px;
      }
    }
  }

  .article-data-science,
  .article-outsourcing,
  .article-crm {
    display: flex;
    align-items: center;
    padding: 30px 0;

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .article-data-science__wrapper {
      img {
        margin-right: auto;
        width: 340px;
        height: 348px;
      }

      .article-data-science__content {
        max-width: 1052px;
      }

      @media screen and (max-width: 1250px) {
        flex-wrap: wrap;

        img {
          margin-left: auto;
          margin-right: 0;
          margin-bottom: -50px;
          max-width: 484px;
        }
      }

      @media screen and (max-width: 768px) {
        img {
          margin-right: auto;
          max-width: 227px;
          max-height: 220px;
          margin-bottom: 34px;
        }
      }
    }

    .article-outsourcing__wrapper {
      img {
        width: 100%;
        height: 100%;
        width: 350px;
        max-height: 363px;
      }

      .article-data-science__content {
        max-width: 1052px;
        margin-right: auto;

        .title {
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-image: $gradient-green;
        }
      }

      @media screen and (max-width: 1250px) {
        img {
          width: 350px;
          height: 380px;
        }
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        img {
          width: 226px;
          height: 245px;
          margin-bottom: 31px;
        }

        .article-data-science__content {
          .title {
            margin-bottom: 16px;
          }
        }
      }
    }

    .article-crm__wrapper {
      img {
        width: 584px;
        height: 421px;
      }

      .text {
        margin-bottom: 35px;
      }

      @media screen and (max-width: 1250px) {
        flex-wrap: wrap;
        padding-top: 0;

        img {
          width: 584px;
          height: 390px;
          margin: 0 auto;
        }

        .title {
          text-align: center;
        }
      }

      @media screen and (max-width: 768px) {
        img {
          width: 326px;
          height: 217px;
          margin-bottom: 16px;
        }

        .title {
          margin-bottom: 17px;
        }
      }

      a.further-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        width: 226px;
        height: 54px;
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        background: linear-gradient(180deg, #389a77 19.27%, #175842);
        border: 2px solid #6fcf97;
        box-sizing: border-box;
        border-radius: 10px;
        transition: all 0.5s;

        &:hover {
          background: #FFFFFF;
          span {
            font-weight: 500;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(180deg, #389A77 19.27%, #175842 100%);
          }
        }

        @media screen and (max-width: 1250px) {
          margin-top: 20px;
          margin-right: auto;
        }
      }
    }

    &__content {
      .title {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 27px;

        @media screen and (max-width: 768px) {
          font-size: 22px;
          line-height: 27px;
          text-align: center;
          margin-bottom: 22px;
        }
      }

      .text {
        font-size: 28px;
        line-height: 32px;
        font-family: "Carisma", sans-serif;
        text-align: justify;

        @media screen and (max-width: 768px) {
          font-size: 18px;
          line-height: 20px;
        }
      }
    }
  }

  .article-data-science,
  .article-crm {
    background-image: url("./../assets/data-science-bg_lg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: $white;

    .text {
      color: #95edd0;
    }

    @media screen and (max-width: 1250px) {
      background-image: url("./../assets/data-science-bg_md.jpg");
    }
    @media screen and (max-width: 768px) {
      background-image: url("./../assets/data-science-bg_sm.jpg");
    }
  }

  .article-outsourcing__wrapper {
    flex-direction: row-reverse;
  }

  .motivation {
    padding-top: 35px;
    padding-bottom: 40px;
    letter-spacing: -0.02em;
    color: #4f4f4f;

    &__subtitle {
      text-align: center;
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      text-align: center;

      max-width: 829px;
      margin: 30px auto 40px auto;
    }

    p {
      margin-bottom: 1rem;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }

    @media screen and (max-width: 768px) {
      &__subtitle {
        margin: 18px auto;
        font-size: 16px;
        line-height: 20px;
      }

      p {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}
