@import url('../../scss/_variables.scss');

.header {
  position: relative;

  &__bg-image {
    width: 100%;
    height: 100vh;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media screen and (max-width: 1222px) {
      height: auto;
      img {
        object-fit: cover;
      }
    }
  }

  &__content {
    position: absolute;
    left: calc((100vw - 1500px) / 2);
    bottom: 174px;
    max-width: 818px;
    z-index: 5;

    @media screen and (max-width: 1570px) {
      left: 35px;
    }

    @media screen and (max-width: 1300px) {
      left: 70px;
      bottom: 10%;
    }

    .title {
      color: #fff;
      z-index: 1;
    }

    .subtitle {
      font-family: 'Carisma';
      font-size: 28px;
      line-height: 32px;
      color: #C7A1EB;
      z-index: 1;
    }

    @media screen and (max-width: 1221px) {
      .title {
        font-size: 64px;
        line-height: 64px;
        margin-bottom: 15px;
      }

      .subtitle {
        max-width: 540px;
      }
    }

    @media screen and (max-width: 1024px) {
      max-width: 371px;
      left: calc((100vw - 728px) / 2);

      .title {
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 10px;
      }

      .subtitle {
        max-width: 338px;
        font-size: 20px;
        line-height: 23px;
      }
    }

    @media screen and (max-width: 1023.99px) {
      .title {
        font-size: 32px;
        line-height: 39px;
      }
    }

    @media screen and (max-width: 750px) {
      max-width: 360px;
      left: 10px;
      max-width: 179px;
    }

    @media screen and (max-width: 359.99px) {
      .title {
        font-size: 14px;
        line-height: 17px;
      }

      .subtitle {
        font-size: 8px;
        line-height: 9px;
      }
    }
  }
}