@import url(../../scss/_variables.scss);

.section-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 44px;

  &.section-title_green {
    background-image: linear-gradient(180deg, #389A77 19.27%, #175842 100%);;
  }

  &.section-title_blue {
    background-image: linear-gradient(180deg, #17A6D6 0%, #4B33A1 100%);
  }

  span {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 17px;

    @media screen and (max-width: 767.99px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  hr {
    height: 5px;
    border: none;
    width: 100%;
    max-width: 270px;
    background-color: #828282;
  }

  @media screen and (max-width: 1240px) {
    font-size: 28px;
    line-height: 34px;

     span {
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 20px;

     span {
      margin-bottom: 7px;
    }

    hr {
      width: 128px;
      height: 3px;
    }
  }
}


