@import url(../../scss/_variables.scss);

.section-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 44px;

  span {
    margin-bottom: 17px;
  }

  hr {
    height: 5px;
    border: none;
    width: 100%;
    max-width: 270px;
  }

  @media screen and (max-width: 1240px) {
    font-size: 28px;
    line-height: 34px;

     span {
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 20px;

     span {
      margin-bottom: 7px;
    }

    hr {
      width: 128px;
      height: 3px;
    }
  }
}
