@import '../../variables';

.contacts {
  .subtitle {
    margin-top: 27px;
    margin-bottom: 52px;
    text-align: center;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: $dark;
  }
}