@import '../../../scss/_variables.scss';

.contacts-wrapper {
  display: flex;
  align-items: center;
  background-color: $dark-blue;
  height: 71px;

  @media screen and (max-width: 768px) {
    display: none;
  }

  &__contacts {
    display: flex;
    align-items: center;
    
    @media screen and (max-width: 1024px) {
      justify-content: space-between;
    }

    .social {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-right: auto;

      @media screen and (max-width: 1024px) {
        display: none;
      }

      .social-item {
        display: inline-flex;
        margin-right: 18px;
      }
    }

    .contact {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 56px;

      a {
        color: $white;
      }

      .contact-phone,
      .contact-email {
        display: flex;
        align-items: center;

        span {
          margin-right: 10px;
        }
      }
      .contact-phone {
        margin-right: 24px;
      }
    }

    .lang {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: $white;
        margin-right: 10px;
      }
    }
  }
}