@import "../../scss/variables";

.footer {
  padding: 65px 0 56px 0;
  margin-bottom: 25px;
  color: $white;
  position: relative;

  &__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  a {
    color: $white;
  }

  .d-flex {
    display: flex;

    &.flex-wrap {
      
      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
      }
    }
  }

  .footer_list {
    list-style: none;

    h4 {
      color: #2d9cdb;
      font-size: 23px;
      line-height: 28px;
      margin-bottom: 29px;
      font-weight: 500;
    }

    li {
      margin-bottom: 29px;
      cursor: pointer;

      &:hover a {
        color: #2d9cdb;
      }

      a {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .list-wrapper {
    z-index: 2;
    width: 100%;
    max-width: 906px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;

    ul {
      width: 391px;
      position: relative;
    }

    @media screen and (max-width: 1250px) {
      justify-content: flex-end;

      ul:first-child {
        margin-bottom: 31px;
      }
    }

    @media screen and (max-width: 1024px) {
      width: 50%;

      ul {
        width: 100%;
      }
    }

    @media screen and (max-width: 768px) {
      width: 100%;

      ul {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__social {
    z-index: 2;
    margin-right: auto;

    .logo {
      margin-bottom: 26px;

      svg {
        width: 228px;
        height: 48.01px;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 34px;
      }
    }
    
    .phone, .email {
      display: flex;
      align-items: center;
      
      svg {
        margin-right: 1rem;
      }

      a {
        font-size: 18px;
        line-height: 22px;
      }

      &:hover a {
        color: #2d9cdb;
      }
    }
    
    .phone {
      margin-bottom: 23px;

      span > svg {
        width: 26px;
        height: 26px;
      }
    }
    .email {
      margin-bottom: 38px;

      span > svg {
        width: 28px;
        height: 22px;
      }
    }

    @media screen and (max-width: 768px) {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__contacts-social {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;

    .social-item {
      margin-right: 29px;
      display: inline-flex;

      svg {
        width: 39px;
        height: 39px;

        path {
          transition: all .2s;
        }
      }

      &_viber svg {
        width: 41px;
        height: 45px;
      }

      &:hover svg path {
        fill: #2d9cdb;
      }
    }

    .social-item:nth-last-child(1) {
      margin-right: 0;
    }
  }

  &__location {
    display: flex;
    align-items: center;
    margin-bottom: 52px;

    svg {
      width: 28px;
      height: 33px;
      margin-right: 1rem;
    }

    @media screen and (max-width: 450px) {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      text-align: center;
      margin-bottom: 22px;
    }
  }

  &__connect-us {
    h4 {
      font-weight: 500;
      font-size: 23px;
      line-height: 28px;
      margin-bottom: 15px;

      @media screen and (max-width: 768px) {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
      }
    }

    .connect-us__social {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .social-item {
        margin-right: 36px;

        &:hover svg path {
          fill: #2d9cdb;
        }

        @media screen and (max-width: 540px) {
          margin-right: 25px;
        }
      }

      .social-item:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }

  .request-call-btn {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 226px;
    height: 54px;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    background: linear-gradient(180deg,#17a6d6,#4b33a1);
    border: 2px solid #00aff2;
    box-sizing: border-box;
    border-radius: 10px;

    &:hover {
      background: #FFFFFF;

      border: 2px solid #00AFF2;
      span {
        font-weight: 500;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(180deg, #17A6D6 0%, #4B33A1 100%);
      }
    }

    @media screen and (max-width: 1205px) {
      margin-top: 20px;
      position: static;
    }
  }
}
