@import "./fonts";
@import "variables";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;

  background-color: $white;
  color: $dark;
}

h1 {
  font-weight: bold;
  font-size: 80px;
  line-height: 98px;
}

h2 {
  font-size: 36px;
  line-height: 44px;

  @media screen and (max-width: 767.99px) {
    font-size: 16px;
    line-height: 20px;
  }
}

p {
  font-size: 18px;
  line-height: 17px;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1570px;
  margin: 0 auto;
  padding: 0 35px;

  @media screen and (max-width: 1023.99px) {
    max-width: 768px;
  }
  
  @media screen and (max-width: 767.99px) {
    max-width: 100%;
    padding: 0 10px;
  }
}
